<?xml version="1.0" encoding="UTF-8"?>
<CiscoIPPhoneDirectory>
  <Title>{{ name }}</Title>
  <Prompt>{{ prompt }}</Prompt>
{% for entry in entries %}
  <DirectoryEntry>
    <Name>{{ entry.name }}</Name>
    <Telephone>{{ entry.number }}</Telephone>
  </DirectoryEntry>
{% endfor %}
</CiscoIPPhoneDirectory>
